install/container/target/
install/container/output
install/container/old_config/
install/container/docker/my_Dockerfile
install/container/docker/docker-compose.yml
install/container/docker/hadoop-*
install/container/lxc/meta.tar.xz
install/container/lxc/rootfs.tar.xz
install/container/script/hadoop_daemons.sh
install/container/script/create_workers_file.sh
install/container/script/setup.sh
install/container/hadoop_config/workers
install/container/hadoop_config/old_workers
test/script/my_python
test/script/python/__pycache__
test/script/bash/job_mapred.sh
test/logs
test/test_results